.card-tengah {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-tengah2 {
    left: 50%;
    transform: translate(-50%);
}


.text1 {
    position: absolute;
    color: white;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
}

.containerku {
    position: relative;
}

.kotaksepatu {
    /* position: relative; */
    height: 168.03px;
    width: 224 px;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.sepatu {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    object-fit: cover;
}